---
import Layout from '../layouts/Layout.astro';

const { slug } = Astro.params;

const data = await fetch(import.meta.env.API_BASE_PATH + "specificebook?path=" + "/" + slug); // must add / before slug as params strips the first /
const bookData = await data.json();
---

<Layout title={bookData.name}>
  <main>
    <div class="flow-root rounded-lg border border-gray-100 py-3 shadow-sm">
      <dl class="-my-3 divide-y divide-gray-100 text-sm">
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900 px-4 py-2">Title</dt>
          <dd class="text-gray-700 sm:col-span-2 px-4 py-2">{bookData.name}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900 px-4 py-2">Size</dt>
          <dd class="text-gray-700 sm:col-span-2 px-4 py-2">{bookData.size}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900 px-4 py-2">Last modified date</dt>
          <dd class="text-gray-700 sm:col-span-2 px-4 py-2">{bookData.lastModified.split("T")[0]}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4 ">
          <div></div>
          <a id="downloadLink" href={"/download?path=" + bookData.path} target="_blank" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">Download</a>
        </div>
      </dl>
    </div>
  </main>
</Layout>

<script>
  const link = document.getElementById("downloadLink");
  // Make sure the download link points to the backend endpoint
  link.href = link.href.replace(/3001/, "3000");
</script>
